<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation" parallel="methods" thread-count="5">
	<listeners>
		<listener class-name="com.training.listeners.TestListener"></listener>
	</listeners>
	<test name="LoginTest">
		<classes>
			<class name="com.training.testcases.LoginTest"></class>
			<class name="com.training.testcases.OpportunityTest"></class>
			<class name="com.training.testcases.UserMenuTest"></class>
			<class name="com.training.testcases.LeadsTest"></class>
			<class name="com.training.testcases.HomeTest"></class>
			<class name="com.training.testcases.AccountsTest"></class>
			<class name="com.training.testcases.ContactsTest"></class>
		</classes>
	</test>
</suite>